; augmentor.config
; 2024/06/20 (C) antillia.com

[augmentor]

images_dir = "./BCSS-Breast-Cancer-mini-dataset/images/"
masks_dir  = "./BCSS-Breast-Cancer-mini-dataset/masks/"
output_dir = "./Augmented-BCSS-Breast-Cancer-mini-dataset/"
      

radius     = 0.3
amount     = 0.5
centers    = [(0.3, 0.3), (0.5, 0.5), (0.7, 0.7)]
