; augmentor2.config
; 2024/06/21 (C) antillia.com

[augmentor]

images_dir = "./BCSS-Breast-Cancer-mini-dataset/images/"
masks_dir  = "./BCSS-Breast-Cancer-mini-dataset/masks/"
output_dir = "./Augmented-BCSS-Breast-Cancer-mini-dataset2/"
      

radii      = [0.2,  0.4]
amounts    = [0.7, -0.7 ]
centers    = [(0.3, 0.3), (0.5, 0.5), (0.7, 0.7)]